:root {
    --text-color: rgb(50,50,50);
  }

body {
    background: darkgray;
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    color: var(--text-color);
    width: 100%;
    border-bottom: dimgray 4px solid;
    margin-bottom: 0;
}

/* The field of square shaped badges that overflow into the next line */
.badge-field {
    width: 80%;
    min-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.badge {
    position: relative;
    width: 215px;
    height: 215px;
    margin: 20px;
    transition: all 200ms;
    background-color: palegreen;
    border: 2px solid green;
    color: green;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

/* Generic styles */
.flex-buffer {
    flex-grow: 1;
}

.button {
    cursor: pointer;
    font-variant: small-caps;
}

/* Styling for the "Add Task" component */
.add-new-task.button {
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
    width: 80%;
    max-width: 500px;
    padding: 30px 50px;
    margin: auto;
    background-color: tomato;
    color: whitesmoke;
}

/* Styles for the items on the task page */
.task-item .task-name {
    font-size: 40px;
}

.task-item .info {
    font-size: 20px;
}

.task-item .thumbnail {
    font-size: 90px;
    color: green;
}

.task-item .buttons {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-item .buttons .edit {
    padding: 8px 18px;
    border: 2px solid green;
}

.task-item .buttons .done {
    padding: 10px 20px;
    background-color: green;
    color: white;
}

/* Styles for the popups */
.pop-up-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, .85);
    z-index: 3;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.popup {
    margin: auto;
    max-width: 70%;
}

.pop-up-content {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 100%;
}

/* styles for forms */
.form {
    background-color: white;
    color: var(--text-color);
    font-size: 30px;
    font-family: sans-serif;
}

.form div {
    margin: 20px 0;
}

.title-input {
    font-size: 50px;
    display: block;
    margin: auto;
    width: 80%;
}

.form .button-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form .save.button {
    padding: 10px 20px;
    background-color: green;
    color: white;
}

.form .cancel.button {
    padding: 8px 18px;
    border: 2px solid var(--text-color);
}