:root {
    --dark-color: rgb(20,20,20);
    --medium-dark--color: DarkSlateGray;
    --light-color: LightGray;
    --action-button-color: Tomato;
    --dark-green: Green;
    --light-green: PaleGreen;
    --dark-red: DarkRed;
    --light-red: LightSalmon;
    --dark-blue: DarkBlue;
    --light-blue: PaleTurquoise;
    --dark-yellow: GoldenRod;
    --light-yellow: LemonChiffon;

    --header-size: 50px;
    --sub-header-size: 40px;
    --info-size: 20px;
    --sub-info-size: 15px;
  }

body {
    background: var(--light-color);
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    color: var(--text-color);
    width: 100%;
    border-bottom: dimgray 4px solid;
    margin-bottom: 0;
}

/* Styles to display a title over a field of badges */
.badge-field-header {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.badge-field-header .buffer {
    flex-grow: 1;
    height: 0;
    border-top: 1px solid var(--medium-dark--color);
}

.badge-field-header .title {
    font-size: var(--info-size);
    color: var(--medium-dark--color);
    min-width: 20%;
    margin: 0 10px;
    text-align: center;
}

/* The field of square shaped badges that overflow into the next line */
.badge-field {
    width: 80%;
    min-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.badge-field .badge {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 20px;
    transition: all 200ms;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.badge-line {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
}

/* The styling of elements on the badge */
i.on-reward-badge {
    font-size: 90px;
    margin: 5px;
}

i.on-task-badge {
    font-size: 80px;
    margin: 5px;
}

i.on-chooser {
    font-size: 40px;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.badge .name {
    font-size: var(--sub-header-size);
}

.badge .info {
    font-size: var(--info-size);
    font-weight: bold;
}

.badge .sub-info {
    font-size: var(--sub-info-size);
}

.badge .button {
    padding: 8px 18px;
}

/* Generic styles */
.flex-buffer {
    flex-grow: 1;
}

.button {
    cursor: pointer;
    font-variant: small-caps;
}

.covered-on-load {
    position: relative;
}

.loading-screen {
    --badge-size: 214px;
    --icon-size: 100px;
    --padding: calc((var(--badge-size) - var(--icon-size))/2);
    font-size: var(--icon-size);
    padding: var(--padding);
    position: absolute;
    background-color:rgba(50, 50, 50, .65);
    color: var(--light-color);
    top: 20px;
    left: 20px;
    max-height: var(--icon-size);
}

.loading-spinner {
    animation-name: spin;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    from { rotate: 0deg }
    to { rotate:360deg }
}

/* Styling for the top button component */
.top.button {
    font-size: var(--sub-header-size);
    font-family: sans-serif;
    text-align: center;
    width: 30%;
    max-width: 300px;
    padding: 10px 20px;
    margin: 25px auto;
    background-color: var(--action-button-color);
    color: var(--light-color);
}

/* Styles for the popups */
.pop-up-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, .85);
    z-index: 3;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.popup {
    margin: auto;
    max-width: 70%;
}

.pop-up-content {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 100%;
}

/* styles for forms */
.form {
    background-color: white;
    color: var(--text-color);
    font-size: var(--sub-header-size);
    font-family: sans-serif;
}

.form div {
    margin: 20px 0;
}

.title-input {
    font-size: var(--header-size);
    display: block;
    margin: auto;
    width: 80%;
}

.form .button-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form .save.button {
    padding: 10px 20px;
    background-color: var(--action-button-color);
    color: var(--light-color);
}

.form .cancel.button {
    padding: 8px 18px;
    border: 2px solid var(--text-color);
}

.form .delete {
    font-size: var(--info-size);
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.header .line {
    width: 100%;
    background: rgb(20,20,20);
    color: var(--light-color);
    display: flex;
    flex-direction: row;
}

.header .bspts {
    font-size: var(--header-size);
    margin: 10px;
}

.header .home-link {
    color: var(--light-color);
    margin: 10px;
}

.header .routes a {
    color: var(--light-color);
    font-size: var(--sub-header-size);
    margin: 5px 40px 0;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.header .routes .selected {
    color: var(--dark-color);
    background-color: var(--light-color);
}

.form .delete:hover {
    color: darkred;
}

/* Styling for the color selectors */
.color-selected {
    margin: 0;
    padding: 10px;
    border: 2px solid rgba(0,0,0,0);
}

.color-selected.yes {
    border-color: var(--action-button-color);
}

.color-chooser {
    display: inline-block;
    padding: 0;
    margin: 0 0;
}

/* color themes */
.r-theme {
    border: 2px solid var(--dark-red);
    color: var(--dark-red);
    background-color: var(--light-red);
}
.r-theme-inv {
    border: 2px solid var(--dark-red);
    background-color: var(--dark-red);
    color: var(--light-red);
}

.g-theme {
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    background-color: var(--light-green);
}
.g-theme-inv {
    border: 2px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--light-green);
}

.b-theme {
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: var(--light-blue);
}
.b-theme-inv {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.y-theme {
    border: 2px solid var(--dark-yellow);
    color: var(--dark-yellow);
    background-color: var(--light-yellow);
}
.y-theme-inv {
    border: 2px solid var(--dark-yellow);
    background-color: var(--dark-yellow);
    color: var(--light-yellow);
}